body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
